:root {
  /* Main Colors */
  --color-peachy-pink: #FFB6C1;
  --color-lavender: #E6E6FA;
  --color-soft-green: #A2D9CE;
  --color-chocolate-brown: #8B4513;
  --color-pale-pink: #FADADD;
  --color-creamy-white: #FFFFE0;
  --color-sky-blue: #B0E2FF;
  --color-sunshine-yellow: #FFECB3;
  --color-minty-green: #C4F4D0;
  --color-bubblegum-purple: #C8C8FF;
  --color-tropical-orange: #FFD699;

  /* Shades */
  --color-light-peach: #FFD3DE;
  --color-soft-rose: #FF9AA5;
  --color-blush: #FF8291;
  --color-deep-pink: #FF4C5D;
  --color-light-lavender: #F0F0FF;
  --color-pastel-purple: #D6D6FF;
  --color-orchid: #B0B0FF;
  --color-royal-purple: #7E7EFF;
  --color-mint-green: #B2E3D9;
  --color-pale-aqua: #8FD4C1;
  --color-teal: #66BFA2;
  --color-deep-green: #44967B;
  --color-light-brown: #A3672B;
  --color-caramel: #B67833;
  --color-rustic-brown: #934A1A;
  --color-espresso: #4B250B;
  --color-baby-pink: #FCD3E2;
  --color-cotton-candy: #F9A2C0;
  --color-bubblegum: #F578A0;
  --color-raspberry-pink: #F24A6E;
  --color-off-white: #FAF3DC;
  --color-ivory: #FFFCF2;
  --color-pearl-white: #FAF8EF;
  --color-vanilla: #FFF3C6;
  --color-light-sky-blue: #B0E2FF;
  --color-soft-blue: #83CFF9;
  --color-robins-egg-blue: #5ABEEF;
  --color-deep-sky-blue: #1896E0;
  --color-light-yellow: #FFECB3;
  --color-lemon-yellow: #FFE463;
  --color-goldenrod: #FFCD33;
  --color-sunflower-yellow: #FFB700;
  --color-light-mint: #C4F4D0;
  --color-fresh-green: #9FE7B4;
  --color-spring-green: #6AE083;
  --color-vibrant-green: #3DAA5A;
  --color-lilac: #C8C8FF;
  --color-purple: #9B9BFF;
  --color-deep-purple: #7323B3;
  --color-electric-purple: #4D0083;
  --color-light-orange: #FFD699;
  --color-peach: #FFB366;
  --color-tangerine: #FF8C33;
  --color-coral-orange: #FF661A;
  --color-transparent: rgba(0 0 0 / 0);
  --color-inverse: 34 24 12;
  --color-background: var(--color-lavender);
  --color-toolbar: var(--color-royal-purple);
  --color-divider: rgba(var(--color-inverse) / 0.12);

  --color-primary-txt: rgba(var(--color-inverse) / 1);
  --color-secondary-txt: rgba(var(--color-inverse) / 0.85);
  --color-tertiary-txt: rgba(var(--color-inverse) / 0.65);

  --color-accent: #f65294;
  --color-accent-dark: 174 9 75;
  --color-on-accent: #f2e9dc;

  --color-scrollbar-bg: rgba(var(--color-accent-dark) / 0.5);
  --color-scrollbar-thumb: #e1dd7b;
  --color-selection: rgba(99 211 255 / 0.25);
  --color-illustrations-shadow: #9061c2;
  --color-img-drop-shadow: rgba(var(--color-inverse) / 0.28);

  --color-gradient-brand: var(--color-accent);
  --color-gradient-blue: #63d3ff;
  --color-gradient-green: #cfd11a;
  --color-gradient-yellow: #ffe74c;
  --color-gradient-orange: #f28f3b;
  --color-gradient-red: #c50251;
  --color-gradient-purple: #ba80ff;

  --color-shadow-brand: #bacaf1;
  --color-shadow-blue: #a7d4f0;
  --color-shadow-green: #a1e4c1;
  --color-shadow-yellow: #fce1a8;
  --color-shadow-orange: #fdcba8;
  --color-shadow-red: #f7acba;
  --color-shadow-purple: #cdb7eb;

  --index-shadow-light: #fff;
  --index-shadow-dark: #9c9c9c;
}

html.dark,
html.dark-inverted {
  /* Dark Mode Colors */
  --peachy-pink: #823739;
  --lavender: #8787A3;
  --soft-green: #5B8577;
  --chocolate-brown: #5A2E0A;
  --pale-pink: #704656;
  --creamy-white: #1C1C1C;
  --sky-blue: #2B3943;
  --sunshine-yellow: #7C754E;
  --minty-green: #355A4E;
  --bubblegum-purple: #6D6D91;
  --tropical-orange: #7C563E;

  /* Dark Mode Shades */
  --light-peach: #6F303B;
  --soft-rose: #72313C;
  --blush: #75323D;
  --deep-pink: #78333E;

  --light-lavender: #7A3A46;
  --pastel-purple: #7C424F;
  --orchid: #7E4A57;
  --royal-purple: #80425E;

  --mint-green: #4D6762;
  --pale-aqua: #4E6B66;
  --teal: #506F6B;
  --deep-green: #52736F;

  --light-brown: #593B2E;
  --caramel: #5B3D31;
  --rustic-brown: #5E3F34;
  --espresso: #604137;

  --baby-pink: #704C55;
  --cotton-candy: #725055;
  --bubblegum: #745456;
  --raspberry-pink: #765857;

  --off-white: #1E1E1E;
  --ivory: #202020;
  --pearl-white: #222222;
  --vanilla: #242424;

  --light-sky-blue: #2C3943;
  --soft-blue: #2E404B;
  --robins-egg-blue: #304752;
  --deep-sky-blue: #325E5B;

  --light-yellow: #6F6C48;
  --lemon-yellow: #716F4B;
  --goldenrod: #737D4E;
  --sunflower-yellow: #757151;

  --light-mint: #4A6C61;
  --fresh-green: #4C7166;
  --spring-green: #4E766B;
  --vibrant-green: #507A70;

  --lilac: #7A7A8E;
  --lavender: #7C7C90;
  --deep-purple: #7E7E92;
  --electric-purple: #808094;

  --light-orange: #7C5A44;
  --peach: #7E5C47;
  --tangerine: #805E4A;
  --coral-orange: #82604D;

  --color-inverse: 235 240 251;
  --color-background: #0c121e;
  --color-toolbar: rgba(18 27 44 / 0.65);

  --color-primary-txt: #fff;
  --color-secondary-txt: rgba(var(--color-inverse) / 0.85);
  --color-tertiary-txt: rgba(var(--color-inverse) / 0.65);

  --color-accent: #88a4e6;
  --color-accent-dark: 175 194 239;
  --color-on-accent: rgba(9 17 34 / 0.925);

  --color-scrollbar-bg: var(--color-accent);
  --color-scrollbar-thumb: #0c121e;
  --color-selection: rgba(136 164 230 / 0.25);
  --color-illustrations-shadow: #d8d1f6;
  --color-img-drop-shadow: rgba(var(--color-inverse) / 0.28);

  --color-shadow-brand: #9cb3eb;
  --color-shadow-blue: #81c1e9;
  --color-shadow-green: #79d9a6;
  --color-shadow-yellow: #fad483;
  --color-shadow-orange: #fcb483;
  --color-shadow-red: #f3899c;
  --color-shadow-purple: #b898e3;

  --color-gradient-brand: var(--color-shadow-brand);
  --color-gradient-blue: var(--color-shadow-blue);
  --color-gradient-green: var(--color-shadow-green);
  --color-gradient-yellow: var(--color-shadow-yellow);
  --color-gradient-orange: var(--color-shadow-orange);
  --color-gradient-red: var(--color-shadow-red);
  --color-gradient-purple: var(--color-shadow-purple);
}
