@tailwind base;

* {
  scrollbar-width: thin;
  scrollbar-color: #8f38ff #d6ecf3;
}

*::-webkit-scrollbar-track {
  background-image:-webkit-linear-gradient(top, #ffb5cd 2%,#ffcca8 17%,#fff6b7 35%,#daffb7 55%,#aadeff 76%,#cebafc 97%);
  border-radius: 0px;
  width: 0px;
  border: 1px dotted #8f38ff;
}

*::-webkit-scrollbar {
  width: 12px;
  height: 12px;
  background: #d6ecf3;
}

*::-webkit-scrollbar-thumb {
  background: #d6ecf3;
  border: 1px dotted #8f38ff;
  border-radius: 0px;
}

@tailwind components;
@tailwind utilities;

@import "@fontsource/ibm-plex-mono";
@import "@fontsource/dm-sans";
@import "@fontsource/prata";
@font-face {
  font-family: "basiic";
  src: url('/fonts/basiic.ttf');
}

@layer base {
  h1 {
    @apply text-2xl;
  }
  h2 {
    @apply text-xl;
  }
  h3 {
    @apply text-lg;
  }
  h4 {
    @apply text-base;
  }
  h5 {
    @apply text-sm;
  }
}

:root {
  --webring-devblog-bg: url('https://i.imgur.com/3gRnS0T.gif');
  --webring-devblog-border: 3px dashed;
  --webring-devblog-color: (var(--color-prim-500));
  --webring-devblog-linkcolor: rgb(var(--color-pink-700));
  --webring-devblog-title: rgb(var(--color-pink-500));
  --webring-devblog-fontfamily: 'basiic';
  --webring-devblog-titlesize: 1.25rem;
  --webring-devblog-borderradius: 10px;
  --webring-devblog-bgcolor: rgb(var(--color-prim-300));
  --webring-devblog-width: 350px;
  --webring-devblog-height: 92px;
  --webring-devblog-textsize: .875rem;
  --webring-devblog-textfamily: 'basiic';
  --webring-devblog-padding: 2px;
  --webring-devblog-h1margin: 2px;
  --webring-devblog-textmargin: 0;
  --index-window-bg: #c0c0c0;
  --index-window-inactive: #dedede;
  --index-window-border: #000;
  --index-window-border-inactive: #525252;
  --index-shadow-light: #fff;
  --index-shadow-dark: #9c9c9c;
  --index-title-light: #737373;
  --index-title-dark: #737373;
  --index-title-color: #000;
  --index-title-color-inactive: #737373;
  font-size: 18px;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  @apply antialiased font-sans bg-purple-50 m-0 text-base dark:text-purple-50 text-purple-800;
  --color-text: #111;
  --color-number: #999;
  --color-bg: #fff;
  --color-link: #1352d1;
  --color-link-hover: #111;
}

.js .loading::before,
.js .loading::after {
  @apply content-[""] fixed z-[1000];
}

.js .loading::before {
  @apply bg-purple-50 top-0 left-0 w-full h-full;
}

.js .loading::after {
  top: 50%;
  left: 50%;
  width: 60px;
  height: 60px;
  margin: -30px 0 0 -30px;
  border-radius: 50%;
  opacity: 0.4;
  background: var(--color-link);
  animation: loaderAnim 0.7s linear infinite alternate forwards;
}

@keyframes loaderAnim {
  to {
    opacity: 1;
    transform: scale3d(0.5, 0.5, 1);
  }
}

a {
  @apply decoration-wavy text-purple-400 dark:text-golden-200;
}

a:hover {
  @apply text-purple-600 dark:text-golden-400 outline-none;
}

/* https://developer.mozilla.org/en-US/docs/Web/CSS/:focus-visible */
a:focus,
button:focus {
  /* Provide a fallback style for browsers
	 that don't support :focus-visible */
  outline: none;
}

a:focus:not(:focus-visible),
button:focus:not(:focus-visible) {
  /* Remove the focus indicator on mouse-focus for browsers
	 that do support :focus-visible */
}

a:focus-visible,
button:focus-visible {
  /* Draw a very noticeable focus style for
	 keyboard-focus on browsers that do support
	 :focus-visible */
  outline: 2px solid #443ffc;
  outline-offset: 3px;
}

a:focus-visible {
  background: none;
}

.menubar {
  @apply text-viking-800;
  display: flex;
  height: 32px;
  padding-left: 15px;
  padding-right: 15px;
  border-bottom: 1px solid var(--index-window-border);
  background-color: var(--index-window-bg);
  box-shadow: inset 1px 1px 0 var(--index-shadow-light), inset -1px -1px 0 var(--index-shadow-dark);
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.menubar ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  padding-top: 1px;
  filter: drop-shadow(1px 1px 0 rgba(0, 0, 0, 0.35));
  z-index: 100;
}

.menubar li {
  position: relative;
  z-index: 100;
}

.menubar .divider {
  border-top: 2px solid #eee;
  margin: 0.25em 0;
}

.menubar ul ul {
  background: white;
  border-radius: 0 0 0.25em 0.25em;
  flex-direction: column;
  left: 0;
  padding: 0.25em 0;
  position: absolute;
  top: -1000em;
  white-space: nowrap;
  z-index: 100;
}

.menubar ul ul ul {
  border-radius: 0.25em;
  z-index: 100;
}

.menubar a {
  color: inherit;
  cursor: default;
  display: block;
  font-size: 14px;
  padding: 0.25em 0.75em;
  text-decoration: none;
  z-index: 100;
}

.menubar [disabled],
.menubar [tabindex="-1"] {
  cursor: not-allowed;
  opacity: 0.4;
}

.menubar [data-key] {
  display: flex;
}

.menubar [data-key]::after {
  content: attr(data-key);
  display: inline-block;
  font-size: inherit;
  margin-left: auto;
  padding-left: 1em;
}
.menubar a:hover,
.menubar a:focus,
.menubar li:hover > a,
.menubar li:focus-within > a {
  background: rgb(var(--color-primary-lighter));
  color: white;
  outline: 0 none;
  z-index: 101;
}
.menubar [tabindex="-1"]:hover {
  background: transparent;
  color: inherit;
  z-index: 100;
}
.menubar a:hover + ul,
.menubar a:focus + ul,
.menubar li:hover > ul,
.menubar ul:focus-within {
  top: 100%;
  z-index: 100;
}
.menubar ul ul a:hover + ul,
.menubar ul ul a:focus + ul,
.menubar ul ul li:hover > ul,
.menubar ul ul ul:focus-within {
  left: 100%;
  top: -0.25em;
  z-index: 100;
}
.menubar svg {
  display: inline-block;
}
.menubar svg path {
  fill: currentcolor;
}

@keyframes nav {
  from {
    transform: translateY(-50px);
    opacity: 0;
  }

  to {
    transform: translateY(0px);
    opacity: 100;
  }
}

.switch-theme-nav {
  animation-name: nav;
  animation-duration: 0.3s;
  animation-timing-function: ease;
}
