:root {
  --size-scrollbar-width: 8px;
  --totalToolbarHeight: 68px;
  --scrollMargin: calc(var(--totalToolbarHeight) + 1rem); // 8px
  --verticalContentPadding: 1.5rem;
}

@media screen and (min-width: 596px) {
  :root {
    --totalToolbarHeight: 68px;
    --scrollMargin: calc(var(--totalToolbarHeight) + 1rem); // 16px
    --verticalContentPadding: 1.75rem;
  }
}

@media screen and (min-width: 768px) {
  :root {
    --totalToolbarHeight: 68px;
    --size-scrollbar-width: 12px;
    --verticalContentPadding: 2.25rem;
  }
}

* {
  @apply transition-[background-color] duration-300 ease-in-out;
}

html {
  min-width: 360px;
}

html,
body {
  @apply overflow-x-hidden;
  scroll-behavior: smooth;
  accent-color: rgba(var(--color-accent));
  border-radius: 0.25rem;
}

html {
  @apply min-h-[100vh];
}

body {
  @apply p-0 my-0 mx-auto w-full h-full font-sans text-md font-normal tracking-wide align-baseline break-words border-0 transform-none text-primary-txt;
}

.prose .anchor {
  @apply absolute invisible no-underline;

  margin-left: -1em;
  padding-right: 0.5em;
  width: 80%;
  max-width: 700px;
  cursor: pointer;
}

.anchor:hover {
  @apply visible;
}

.prose a {
  @apply transition-all decoration-purple underline-offset-2 decoration-[0.1em];
}

.prose .anchor:after {
  @apply text-tertiary-txt;
  content: "#";
}

.prose *:hover > .anchor {
  @apply visible;
}

.prose img,
.prose picture img {
  /* Don't apply styles to next/image */
  @apply m-0;
  max-width: 100% !important;
}

.prose > :first-child {
  /* Override removing top margin, causing layout shift */
  margin-top: 1.25em !important;
  margin-bottom: 1.25em !important;
}

a {
  @apply text-espresso cursor-pointer decoration-wavy;

  &:focus {
    transition: 0.2s ease-in-out;
  }

  &:hover {
    transition: 0.2s ease-in-out;
    outline: none;
  }
}

a:focus,
button:focus {
  outline: none;
}

a.focus-visible,
button:focus-visible {
  outline: 2px dashed rgba(var(--color-secondary-txt));
  outline-offset: 3px;
}

a.focus-visible {
  background: none;
}

figure {
  display: block;
  position: relative;
  margin: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  margin-block-start: 0;
  margin-block-end: 0;
}

figure figcaption {
  @apply text-xs;
  text-align: center;
  margin: 0.625rem 0;
}

body {
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 1;
  margin: 0 auto;
}

input[type="text"],
input[type="email"] {
  appearance: none;
}

pre,
code,
kbd,
samp {
  -moz-osx-font-smoothing: auto;
  -webkit-font-smoothing: auto;
}

::selection {
  background-color: rgba(var(--color-selection));
}

::placeholder {
  color: rgba(var(--color-tertiary-txt));
  opacity: 1;
}

:-ms-input-placeholder {
  color: rgba(var(--color-tertiary-txt));
  opacity: 1;
}

::-ms-input-placeholder {
  color: rgba(var(--color-tertiary-txt));
  opacity: 1;
}

/* == Custom Scrollbar Colors == */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--color-scrollbar-bg) var(--color-scrollbar-thumb);
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar-track {
  background-image: -webkit-linear-gradient(
    top,
    #ffb5cd 2%,
    #ffcca8 17%,
    #fff6b7 35%,
    #daffb7 55%,
    #aadeff 76%,
    #cebafc 97%
  );
  border-radius: 0px;
  width: 0px;
  border: 1px dotted #8f38ff;
}

::-webkit-scrollbar {
  width: 12px;
  height: 12px;
  background: #d6ecf3;
}

::-webkit-scrollbar-thumb {
  background: #d6ecf3;
  border: 1px dotted #8f38ff;
  border-radius: 0px;
}

::-webkit-scrollbar-button {
  @apply hidden;
}

*:focus {
  outline: 2px dashed rgba(var(--color-secondary-txt));
  outline-offset: 0.25rem;
}

/* Fix image border in Safari for lazy loading images. See https://nextjs.org/docs/api-reference/next/future/image#known-browser-bugs */
@media not all and (min-resolution: 0.001dpcm) {
  img[loading="lazy"] {
    clip-path: inset(0.5px);
  }
}

body section,
body article {
  scroll-margin-top: var(--scrollMargin);
}

// @media (prefers-reduced-motion: reduce) {
//   *,
//   *::after,
//   *::before {
//     animation-duration: 1ms !important;
//     animation-delay: -1ms !important;
//     animation-iteration-count: 1 !important;
//     transition-duration: 1ms !important;
//     transition-delay: -1ms !important;
//   }
// }

.stats-box {
  span {
    @apply font-extra uppercase tracking-[0.25em];
  }

  .progress {
    @apply mb-[1em] flex w-full border-2 border-solid border-accent;

    div {
      @apply bg-accent px-0 py-[1em] transition-[0.3s] ease-in;
    }
  }
}

.card {
  @apply rounded-lg leading-snug text-primary-txt text-base p-4 relative shadow-lg mt-8 mx-auto border border-accent;
  min-height: 100px;
}
