@import './fonts.scss';
@import 'tailwindcss/base';
@import './reset.scss';
@import './custom-reset.scss';

@tailwind components;
@tailwind utilities;

@import './colors.scss';
@import './core.scss';
@import './buttons.scss';
@import './typography.scss';
@import './article.scss';
@import './toolbar.scss';
@import './animations.scss';
@import './modal.scss';

html.inverted,
html.light-inverted,
html.dark-inverted {
  &,
  & * {
    @apply pointer-events-none select-none invert-[1.5] saturate-[30];

    &::before {
      z-index: 9999;
      content: '–';
    }
  }
}

.blog-header {
  text-shadow:      0 0 0 rgba(var(--color-bubblegum)),
                    0 0 0 rgba(var(--color-bubblegum)),
                    0 0 0 rgba(var(--color-bubblegum)),
                  0 0 1px rgba(var(--color-bubblegum)),
                  0 0 1px rgba(var(--color-bubblegum)),
                  0 0 1px rgba(var(--color-bubblegum)),
               1px 0 20px rgba(var(--color-bubblegum)),
               1px 0 20px rgba(var(--color-bubblegum)),
               1px 0 20px rgba(var(--color-bubblegum)),
               1px 0 10px rgba(var(--color-bubblegum)),
               1px 0 10px rgba(var(--color-bubblegum)),
               1px 0 50px rgba(var(--color-bubblegum)),
               1px 0 50px rgba(var(--color-bubblegum))
}

.blog-header:hover {
  text-shadow:     0 0 0 rgba(var(--color-robins-egg-blue)),
                   0 0 0 rgba(var(--color-robins-egg-blue)),
                   0 0 0 rgba(var(--color-robins-egg-blue)),
                 0 0 1px rgba(var(--color-robins-egg-blue)),
                 0 0 1px rgba(var(--color-robins-egg-blue)),
                 0 0 1px rgba(var(--color-robins-egg-blue)),
              1px 0 20px rgba(var(--color-robins-egg-blue)),
              1px 0 20px rgba(var(--color-robins-egg-blue)),
              1px 0 20px rgba(var(--color-robins-egg-blue)),
              1px 0 10px rgba(var(--color-robins-egg-blue)),
              1px 0 10px rgba(var(--color-robins-egg-blue)),
              1px 0 50px rgba(var(--color-robins-egg-blue)),
              1px 0 50px rgba(var(--color-robins-egg-blue))
}

.banner {
  z-index: 10;
}

.banner::before,
.banner::after {
  @apply bg-accent dark:bg-bubblegum;
  content: "";
  position: absolute;
  display: block;
  top: -20px;
  width: 20px;
  height: 20px;
  z-index: -1;
}

.banner::before {
  left: -2px;
  clip-path: polygon(100% 0, 0% 100%, 100% 100%);
}
.banner::after {
  clip-path: polygon(0 0, 100% 100%, 0 100%);
  right: -2px;
}

.banner li:hover {
  text-decoration: underline dotted black 1px;
}

.card {
  @apply row-[span_1] bg-light-lavender;

  &:hover h3 {
    @apply text-primary-txt transition-[0.3s];
  }
}

[data-category="Tutorials & Guides"] {
  @apply bg-deep-pink text-light-peach hover:bg-light-peach hover:text-deep-pink;
}

[data-category="Deep Dives"] {
  @apply bg-deep-green text-soft-green hover:bg-soft-green hover:text-deep-green;
}

[data-category="How-to & Tips"] {
  @apply bg-orchid text-royal-purple hover:bg-royal-purple hover:text-orchid;
}

[data-category="Professional Development"] {
  @apply bg-sunflower-yellow text-vanilla hover:bg-vanilla hover:text-sunflower-yellow
}

[data-category="News & Updates"] {
  @apply bg-deep-sky-blue text-light-sky-blue hover:bg-light-sky-blue hover:text-deep-sky-blue;
}

[data-category="Coding Challenges"] {
  @apply bg-deep-purple text-lilac hover:bg-lilac hover:text-deep-purple;
}
